.description {
  margin: 0 auto;
  width: 83%;
  margin-top: 56px;
}

@media (max-width: 1024px) {
  .description {
    width: 100%;
    margin-top: 48px;
  }
}

@media (max-width: 768px) {
  .description {
    width: 106.5%;
    left: -3.5%;
    position: relative;
  }
}
