.photo-grid {
  margin: 0 auto;
  width: 92%;
  max-width: 1184px;
  margin-top: 92px;
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(4, 1fr);
}

@media (max-width: 1270px) {
  .photo-grid {
    min-width: 928px;
    max-width: 90.6%;
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 1020px) {
  .photo-grid {
    min-width: 720px;
    margin-top: 88px;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 760px) {
  .photo-grid {
    max-width: 90%;
    min-width: 90%;
    margin-top: 64px;
    grid-template-columns: repeat(1, 1fr);
    gap: 12px;
  }
}
