.places {
  margin: 0 auto;
  margin-top: 92px;
  width: 77%;
  max-width: 984px;
  display: grid;
  gap: 80px;
}

@media (max-width: 1270px) {
  .places {
    width: 90.6%;
  }
}

@media (max-width: 1020px) {
  .places {
    width: 93.75%;
    margin-top: 88px;
    gap: 73px;
  }
}

@media (max-width: 760px) {
  .places {
    width: 100%;
    margin-top: 64px;
    gap: 50px;
  }
}
