.places {
  margin: 0 auto;
  margin-top: 92px;
  width: 77%;
  display: grid;
  gap: 80px;
}

@media (max-width: 1280px) {
  .places {
    width: 92%;
  }
}

@media (max-width: 1024px) {
  .places {
    margin-top: 88px;
    gap: 73px;
    width: 94%;
  }
}

@media (max-width: 900px) {
  .places {
    width: 100%;
    margin-top: 64px;
    gap: 49px;
  }
}
