.lead {
  margin: 0 auto;
  margin-top: 56px;
  width: 77%;
  max-width: 984px;
}

@media (max-width: 1270px) {
  .lead {
    margin-top: 48px;
    min-width: 928px;
    max-width: 90.6%;
  }
}

@media (max-width: 1020px) {
  .lead {
    min-width: 100%;
    max-width: 100%;
  }
}

@media (max-width: 760px) {
  .lead {
    margin-top: 48px;
  }
}
