.intro {
  margin: 0 auto;
  margin-top: 92px;
  max-width: 77%;
}

@media (max-width: 1270px) {
  .intro {
    max-width: 90.6%;
    min-width: 928px;
    margin-top: 88px;
  }
}

@media (max-width: 1020px) {
  .intro {
    min-width: 720px;
  }
}

@media (max-width: 760px) {
  .intro {
    margin-top: 64px;
    min-width: 90%;
    max-width: 90%;
  }
}
