.intro {
  margin: 0 auto;
  margin-top: 92px;
  width: 83%;
}

@media (max-width: 1280px) {
  .intro {
    width: 100%;
    margin-top: 88px;
  }
}

@media (max-width: 1024px) {
  .intro {
    margin-top: 88px;
  }
}

@media (max-width: 768px) {
  .intro {
    margin-top: 64px;
  }
}
