.cover {
  margin: 0 auto;
  margin-top: 92px;
  background-image: url(../../images/cover__background.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  /* min-width: 92%; */
  max-width: 1184px;
  /* padding-bottom: 62.5%; */
  position: relative;
  min-height: 46.25em;
  display: flex;
  /* margin: auto; */
  /* justify-content: center;
  align-items: center; */
}

.cover:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(42,44,47,.3);
  z-index: 0;
}

.cover:hover:before {
  background: rgba(42,44,47,.8);
}

@media (max-width: 1270px) {
  .cover {
    min-height: 40em;
    min-width: 100%;
    max-width: 100%;
  }
}

@media (max-width: 1020px) {
  .cover {
    min-height: 30em;
  }
}

@media (max-width: 650px) {
  .cover {
    margin-top: 65px;
    min-height: 12.5em;
    /* height: minmax(12.5em, 30em); */
  }
}
