.cover {
  margin-top: 92px;
  background-image: url(../../images/cover__background.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  padding-bottom: 60%;
  position: relative;
}
