.cover__overlay {
  background-color: rgba(42, 44, 47, .3);
  width: 80%;
  /* height: 100%; */
  /* padding-bottom: calc(100% - 92px); */
  /* padding-bottom: 60%; */
  height: 68%;
  position: absolute;
}
